@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
}

@page {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

table .border-bottom-blue td,
table .border-bottom-blue th {
    border-bottom: 1px solid #2782f9;
}

#main-container {
    width: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;
}

#sidebar {
    width: 28%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F3F6F9;
}

.bold {
    font-weight: bold;
}


.logo {
    background: url('images/logo.png');
}

#heading-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.purple-title {
    font-family: 'Montserrat', sans-serif;
    color: #861388;
}

.normal-text,
#sidebar p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.info-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.link-text {
    font-family: 'Roboto', sans-serif;
    color: #2782f9;
}

.underline {
    text-decoration: underline;
}

.m-tb-20 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue-box {
    padding: 5px 20px;
    border-radius: 7px;
    border-top: 3px solid #2782f9;
    border-bottom: 1px solid #2782f9;
    border-right: 1px solid #2782f9;
    border-left: 1px solid #2782f9;

}

.left {
    width: 39%;
    display: inline-block;
    text-align: right;
}

.right {
    width: 59%;
    display: inline-block;
    text-align: left;
}

.blue-box .right p,
.blue-box .left p {
    margin-bottom: 0;
    line-height: 10px;
}

#maintable {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#maintable tbody tr td {
    font-size: 14px;
}

#total-table {
    border-top: 2px solid #2782f9;
    border-bottom: 2px solid #2782f9;
    background-color: #b0cff7;
}

#total-table p {
    margin-bottom: 0;
}

.sidebar-inputs {
    width: 80%;
    margin: 10px auto;
}

.fake-input {
    background-color: #ffffff;
    border-top: 2px solid #861388;
    border-bottom: 1px solid #2782f9;
    border-right: 1px solid #2782f9;
    border-left: 1px solid #2782f9;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border-radius: 5px;
}

.sidebar-info {
    background-color: #ffffff;
    border-top: 2px solid red;
    border-bottom: 1px solid #2782f9;
    border-right: 1px solid #2782f9;
    border-left: 1px solid #2782f9;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border-radius: 5px;
}
